h1{
    font-size: 50px;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.name-highlight{
    color: rgb(235, 63, 120);
    font-size: 100px bold;
}
p{
    color: dimgray;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(238, 36, 137), rgb(243, 29, 118));
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
section{
    height: 600px;
    padding-bottom: 20px;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
}
.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    height: 800px;
}
#section-header{
    text-align: center;
    font-size: 40px;
}
.latest-work{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    height: 400px;
    padding-top: 0%;
}
.one-third{
    width: 25%;
    float: left;
    margin-left: 2%;
    padding: 2%;
}
.one-third img{
    width: 100%;
}
.client-review{
    background-image: url("images/footer-bg.png");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 0%;
    margin-top: 100px;
}
#text-align{
    text-align: center;
    margin-bottom: 0%;
}
#deg{
    text-align: center;
    color: dimgray;
    margin-top: 0%;
}
.message{
    margin: 40px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
.leave-message{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(238, 36, 137), rgb(243, 29, 118));
    padding: 10px 30px;
    margin: 0% 15%;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}